.page-header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
}
.page-header__menu {
  ul {
    display: flex;
    gap: 50px;
  }
}
.js-menu-link {
  color: white;
  font-size: 18px;

}
