.ellipse {
  position: relative;

  .ellipse-img {
    position: absolute;
  }
}
.ellipse-one {
  top: 61%;
  left: 12%;
}
.ellipse-two {
  top: 39%;
  left: 34%;
}
.ellipse-three {
  top: 85%;
  left: 50%;
}
