.portfolio-main__box{
  width: 100%;
  padding: 30px;
  background:#01579B;
  // background: rgb(0 121 207);
  
  border-radius: 0px 10px 10px 10px;
  -webkit-border-radius: 0px 10px 10px 10px;
  -moz-border-radius: 0px 10px 10px 10px;
  -ms-border-radius: 0px 10px 10px 10px;
  -o-border-radius: 0px 10px 10px 10px;
  box-sizing: border-box;
}