@import './circle-box.scss';
@import './contacts-box.scss';

.screen--top {
  .top-info__box {
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 80px;

    .top-info-photo__box {
      position: relative;
      width: 50%;
      box-sizing: border-box;
    }
    .top-info-contacts__box {
      width: 50%;
      box-sizing: border-box;
    }
  }
}



